@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #eae2b7;
}

.galeria {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imagenes {
    width: 300px;
}

.titulo {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
}

.autor {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
}